USE [master]
GO
/****** Object:  Database [SistemaAcademico]    Script Date: 8/19/2025 7:27:39 PM ******/
CREATE DATABASE [SistemaAcademico]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaAcademico', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\SistemaAcademico.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaAcademico_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\SistemaAcademico_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaAcademico].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaAcademico]
GO
/****** Object:  Table [dbo].[ASISTENCIA]    Script Date: 8/19/2025 7:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASISTENCIA](
	[id_Asistencia] [int] IDENTITY(1,1) NOT NULL,
	[id_grupo] [int] NULL,
	[id_profesor] [int] NULL,
	[id_estudiante] [int] NULL,
	[Asistencia] [bit] NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Asistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BITACORA]    Script Date: 8/19/2025 7:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BITACORA](
	[id_log] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[accion] [nvarchar](200) NULL,
	[fecha_hora] [datetime] NULL,
	[ip] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARRERAS]    Script Date: 8/19/2025 7:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRERAS](
	[id_carrera] [int] IDENTITY(1,1) NOT NULL,
	[nombre_carrera] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CITA_MATRICULA]    Script Date: 8/19/2025 7:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITA_MATRICULA](
	[id_cita] [int] IDENTITY(1,1) NOT NULL,
	[id_estudiante] [int] NULL,
	[id_periodo] [int] NULL,
	[fecha_hora] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CORREQUISITOS]    Script Date: 8/19/2025 7:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CORREQUISITOS](
	[id_materia] [int] NOT NULL,
	[id_correquisito] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_materia] ASC,
	[id_correquisito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_MATRICULA]    Script Date: 8/19/2025 7:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_MATRICULA](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_matricula] [int] NULL,
	[id_grupo] [int] NULL,
	[nota] [decimal](4, 2) NULL,
	[condicion] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_PAGO]    Script Date: 8/19/2025 7:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_PAGO](
	[id_detalle_pago] [int] IDENTITY(1,1) NOT NULL,
	[id_pago] [int] NULL,
	[id_matricula] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTUDIANTES]    Script Date: 8/19/2025 7:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTUDIANTES](
	[id_estudiante] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[carnet] [nvarchar](20) NOT NULL,
	[telefono] [nvarchar](20) NULL,
	[direccion] [nvarchar](200) NULL,
	[id_carrera] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPOS]    Script Date: 8/19/2025 7:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPOS](
	[id_grupo] [int] IDENTITY(1,1) NOT NULL,
	[id_materia] [int] NULL,
	[id_profesor] [int] NULL,
	[grupo_numero] [nvarchar](10) NULL,
	[aula] [nvarchar](50) NULL,
	[cupo_max] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HORARIOS]    Script Date: 8/19/2025 7:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIOS](
	[id_horario] [int] IDENTITY(1,1) NOT NULL,
	[id_grupo] [int] NULL,
	[dia_semana] [nvarchar](20) NULL,
	[hora_inicio] [time](7) NULL,
	[hora_fin] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAS]    Script Date: 8/19/2025 7:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAS](
	[id_materia] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](20) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[creditos] [int] NOT NULL,
	[id_plan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_materia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATRICULAS]    Script Date: 8/19/2025 7:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATRICULAS](
	[id_matricula] [int] IDENTITY(1,1) NOT NULL,
	[id_estudiante] [int] NULL,
	[id_periodo] [int] NULL,
	[estado] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGOS]    Script Date: 8/19/2025 7:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGOS](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[id_estudiante] [int] NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[fecha] [datetime] NULL,
	[estado] [nvarchar](20) NULL,
	[metodo_pago] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERIODO_LECTIVO]    Script Date: 8/19/2025 7:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERIODO_LECTIVO](
	[id_periodo] [int] IDENTITY(1,1) NOT NULL,
	[anio] [int] NOT NULL,
	[cuatrimestre] [nvarchar](20) NOT NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_periodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAN_ESTUDIO]    Script Date: 8/19/2025 7:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAN_ESTUDIO](
	[id_plan] [int] IDENTITY(1,1) NOT NULL,
	[id_carrera] [int] NULL,
	[anio_inicio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_plan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFESORES]    Script Date: 8/19/2025 7:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESORES](
	[id_profesor] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[cedula] [nvarchar](20) NOT NULL,
	[telefono] [nvarchar](20) NULL,
	[correo_personal] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQUISITOS]    Script Date: 8/19/2025 7:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUISITOS](
	[id_materia] [int] NOT NULL,
	[id_requisito] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_materia] ASC,
	[id_requisito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 8/19/2025 7:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre_rol] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_ROL]    Script Date: 8/19/2025 7:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_ROL](
	[id_usuario] [int] NOT NULL,
	[id_rol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC,
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 8/19/2025 7:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[contrasena] [nvarchar](255) NOT NULL,
	[estado] [bit] NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ASISTENCIA] ON 

INSERT [dbo].[ASISTENCIA] ([id_Asistencia], [id_grupo], [id_profesor], [id_estudiante], [Asistencia], [Fecha]) VALUES (1, 1, 1, 1, 1, CAST(N'2025-08-12T20:44:35.817' AS DateTime))
INSERT [dbo].[ASISTENCIA] ([id_Asistencia], [id_grupo], [id_profesor], [id_estudiante], [Asistencia], [Fecha]) VALUES (2, 2, 2, 2, 1, CAST(N'2025-08-12T20:44:35.817' AS DateTime))
INSERT [dbo].[ASISTENCIA] ([id_Asistencia], [id_grupo], [id_profesor], [id_estudiante], [Asistencia], [Fecha]) VALUES (3, 3, 3, 3, 0, CAST(N'2025-08-12T20:44:35.817' AS DateTime))
SET IDENTITY_INSERT [dbo].[ASISTENCIA] OFF
GO
SET IDENTITY_INSERT [dbo].[BITACORA] ON 

INSERT [dbo].[BITACORA] ([id_log], [id_usuario], [accion], [fecha_hora], [ip]) VALUES (1, 1, N'Creación de usuario administrador', CAST(N'2025-08-12T20:44:35.833' AS DateTime), N'192.168.0.10')
INSERT [dbo].[BITACORA] ([id_log], [id_usuario], [accion], [fecha_hora], [ip]) VALUES (2, 2, N'Actualización de perfil', CAST(N'2025-08-12T20:44:35.833' AS DateTime), N'192.168.0.11')
INSERT [dbo].[BITACORA] ([id_log], [id_usuario], [accion], [fecha_hora], [ip]) VALUES (3, 3, N'Cambio de contraseña', CAST(N'2025-08-12T20:44:35.833' AS DateTime), N'192.168.0.12')
SET IDENTITY_INSERT [dbo].[BITACORA] OFF
GO
SET IDENTITY_INSERT [dbo].[CARRERAS] ON 

INSERT [dbo].[CARRERAS] ([id_carrera], [nombre_carrera]) VALUES (1, N'Ingeniería en Sistemas')
INSERT [dbo].[CARRERAS] ([id_carrera], [nombre_carrera]) VALUES (2, N'Administración de Empresas')
INSERT [dbo].[CARRERAS] ([id_carrera], [nombre_carrera]) VALUES (3, N'Contabilidad')
SET IDENTITY_INSERT [dbo].[CARRERAS] OFF
GO
SET IDENTITY_INSERT [dbo].[CITA_MATRICULA] ON 

INSERT [dbo].[CITA_MATRICULA] ([id_cita], [id_estudiante], [id_periodo], [fecha_hora]) VALUES (1, 1, 1, CAST(N'2024-01-10T09:00:00.000' AS DateTime))
INSERT [dbo].[CITA_MATRICULA] ([id_cita], [id_estudiante], [id_periodo], [fecha_hora]) VALUES (2, 2, 2, CAST(N'2024-05-05T10:00:00.000' AS DateTime))
INSERT [dbo].[CITA_MATRICULA] ([id_cita], [id_estudiante], [id_periodo], [fecha_hora]) VALUES (3, 3, 3, CAST(N'2024-08-28T14:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CITA_MATRICULA] OFF
GO
INSERT [dbo].[CORREQUISITOS] ([id_materia], [id_correquisito]) VALUES (1, 2)
INSERT [dbo].[CORREQUISITOS] ([id_materia], [id_correquisito]) VALUES (2, 3)
INSERT [dbo].[CORREQUISITOS] ([id_materia], [id_correquisito]) VALUES (3, 4)
GO
SET IDENTITY_INSERT [dbo].[DETALLE_MATRICULA] ON 

INSERT [dbo].[DETALLE_MATRICULA] ([id_detalle], [id_matricula], [id_grupo], [nota], [condicion]) VALUES (1, 1, 1, CAST(85.50 AS Decimal(4, 2)), N'Aprobado')
INSERT [dbo].[DETALLE_MATRICULA] ([id_detalle], [id_matricula], [id_grupo], [nota], [condicion]) VALUES (2, 2, 2, CAST(85.50 AS Decimal(4, 2)), N'Aprobado')
INSERT [dbo].[DETALLE_MATRICULA] ([id_detalle], [id_matricula], [id_grupo], [nota], [condicion]) VALUES (3, 3, 3, CAST(85.50 AS Decimal(4, 2)), N'Aprobado')
SET IDENTITY_INSERT [dbo].[DETALLE_MATRICULA] OFF
GO
SET IDENTITY_INSERT [dbo].[DETALLE_PAGO] ON 

INSERT [dbo].[DETALLE_PAGO] ([id_detalle_pago], [id_pago], [id_matricula]) VALUES (1, 1, 1)
INSERT [dbo].[DETALLE_PAGO] ([id_detalle_pago], [id_pago], [id_matricula]) VALUES (2, 2, 2)
INSERT [dbo].[DETALLE_PAGO] ([id_detalle_pago], [id_pago], [id_matricula]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[DETALLE_PAGO] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTUDIANTES] ON 

INSERT [dbo].[ESTUDIANTES] ([id_estudiante], [id_usuario], [carnet], [telefono], [direccion], [id_carrera]) VALUES (1, 4, N'C2023001', N'8888-0001', N'San José Centro', 1)
INSERT [dbo].[ESTUDIANTES] ([id_estudiante], [id_usuario], [carnet], [telefono], [direccion], [id_carrera]) VALUES (2, 5, N'C2023002', N'8888-0002', N'Cartago Norte', 2)
INSERT [dbo].[ESTUDIANTES] ([id_estudiante], [id_usuario], [carnet], [telefono], [direccion], [id_carrera]) VALUES (3, 19, N'CARN002-UPDATED', N'55555555', N'Nueva dirección actualizada', 2)
SET IDENTITY_INSERT [dbo].[ESTUDIANTES] OFF
GO
SET IDENTITY_INSERT [dbo].[GRUPOS] ON 

INSERT [dbo].[GRUPOS] ([id_grupo], [id_materia], [id_profesor], [grupo_numero], [aula], [cupo_max]) VALUES (1, 1, 1, N'01', N'A-101', 35)
INSERT [dbo].[GRUPOS] ([id_grupo], [id_materia], [id_profesor], [grupo_numero], [aula], [cupo_max]) VALUES (2, 2, 2, N'01', N'A-102', 35)
INSERT [dbo].[GRUPOS] ([id_grupo], [id_materia], [id_profesor], [grupo_numero], [aula], [cupo_max]) VALUES (3, 3, 3, N'01', N'B-201', 30)
SET IDENTITY_INSERT [dbo].[GRUPOS] OFF
GO
SET IDENTITY_INSERT [dbo].[HORARIOS] ON 

INSERT [dbo].[HORARIOS] ([id_horario], [id_grupo], [dia_semana], [hora_inicio], [hora_fin]) VALUES (1, 1, N'Lunes', CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time))
INSERT [dbo].[HORARIOS] ([id_horario], [id_grupo], [dia_semana], [hora_inicio], [hora_fin]) VALUES (2, 2, N'Martes', CAST(N'10:00:00' AS Time), CAST(N'12:00:00' AS Time))
INSERT [dbo].[HORARIOS] ([id_horario], [id_grupo], [dia_semana], [hora_inicio], [hora_fin]) VALUES (3, 3, N'Miércoles', CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[HORARIOS] OFF
GO
SET IDENTITY_INSERT [dbo].[MATERIAS] ON 

INSERT [dbo].[MATERIAS] ([id_materia], [codigo], [nombre], [creditos], [id_plan]) VALUES (1, N'MAT101', N'Matemáticas I', 4, 1)
INSERT [dbo].[MATERIAS] ([id_materia], [codigo], [nombre], [creditos], [id_plan]) VALUES (2, N'PRO101', N'Programación I', 4, 1)
INSERT [dbo].[MATERIAS] ([id_materia], [codigo], [nombre], [creditos], [id_plan]) VALUES (3, N'ADM101', N'Introducción a la Administración', 3, 2)
SET IDENTITY_INSERT [dbo].[MATERIAS] OFF
GO
SET IDENTITY_INSERT [dbo].[MATRICULAS] ON 

INSERT [dbo].[MATRICULAS] ([id_matricula], [id_estudiante], [id_periodo], [estado]) VALUES (1, 1, 1, N'Confirmada')
INSERT [dbo].[MATRICULAS] ([id_matricula], [id_estudiante], [id_periodo], [estado]) VALUES (2, 2, 2, N'Confirmada')
INSERT [dbo].[MATRICULAS] ([id_matricula], [id_estudiante], [id_periodo], [estado]) VALUES (3, 3, 3, N'Confirmada')
SET IDENTITY_INSERT [dbo].[MATRICULAS] OFF
GO
SET IDENTITY_INSERT [dbo].[PAGOS] ON 

INSERT [dbo].[PAGOS] ([id_pago], [id_estudiante], [monto], [fecha], [estado], [metodo_pago]) VALUES (1, 1, CAST(150000.00 AS Decimal(10, 2)), CAST(N'2025-08-12T20:44:35.827' AS DateTime), N'Pagado', N'Tarjeta')
INSERT [dbo].[PAGOS] ([id_pago], [id_estudiante], [monto], [fecha], [estado], [metodo_pago]) VALUES (2, 2, CAST(120000.00 AS Decimal(10, 2)), CAST(N'2025-08-12T20:44:35.827' AS DateTime), N'Pagado', N'Transferencia')
INSERT [dbo].[PAGOS] ([id_pago], [id_estudiante], [monto], [fecha], [estado], [metodo_pago]) VALUES (3, 3, CAST(130000.00 AS Decimal(10, 2)), CAST(N'2025-08-12T20:44:35.827' AS DateTime), N'Pagado', N'Efectivo')
SET IDENTITY_INSERT [dbo].[PAGOS] OFF
GO
SET IDENTITY_INSERT [dbo].[PERIODO_LECTIVO] ON 

INSERT [dbo].[PERIODO_LECTIVO] ([id_periodo], [anio], [cuatrimestre], [fecha_inicio], [fecha_fin]) VALUES (1, 2024, N'I', CAST(N'2024-01-15' AS Date), CAST(N'2024-04-30' AS Date))
INSERT [dbo].[PERIODO_LECTIVO] ([id_periodo], [anio], [cuatrimestre], [fecha_inicio], [fecha_fin]) VALUES (2, 2024, N'II', CAST(N'2024-05-10' AS Date), CAST(N'2024-08-20' AS Date))
INSERT [dbo].[PERIODO_LECTIVO] ([id_periodo], [anio], [cuatrimestre], [fecha_inicio], [fecha_fin]) VALUES (3, 2024, N'III', CAST(N'2024-09-01' AS Date), CAST(N'2024-12-10' AS Date))
SET IDENTITY_INSERT [dbo].[PERIODO_LECTIVO] OFF
GO
SET IDENTITY_INSERT [dbo].[PLAN_ESTUDIO] ON 

INSERT [dbo].[PLAN_ESTUDIO] ([id_plan], [id_carrera], [anio_inicio]) VALUES (1, 1, 2020)
INSERT [dbo].[PLAN_ESTUDIO] ([id_plan], [id_carrera], [anio_inicio]) VALUES (2, 2, 2021)
INSERT [dbo].[PLAN_ESTUDIO] ([id_plan], [id_carrera], [anio_inicio]) VALUES (3, 3, 2021)
SET IDENTITY_INSERT [dbo].[PLAN_ESTUDIO] OFF
GO
SET IDENTITY_INSERT [dbo].[PROFESORES] ON 

INSERT [dbo].[PROFESORES] ([id_profesor], [id_usuario], [cedula], [telefono], [correo_personal]) VALUES (1, 1, N'1-1111-1111', N'7000-0001', N'prof1@example.com')
INSERT [dbo].[PROFESORES] ([id_profesor], [id_usuario], [cedula], [telefono], [correo_personal]) VALUES (2, 2, N'2-2222-2222', N'7000-0002', N'prof2@example.com')
INSERT [dbo].[PROFESORES] ([id_profesor], [id_usuario], [cedula], [telefono], [correo_personal]) VALUES (3, 3, N'3-3333-3333', N'7000-0003', N'prof3@example.com')
SET IDENTITY_INSERT [dbo].[PROFESORES] OFF
GO
INSERT [dbo].[REQUISITOS] ([id_materia], [id_requisito]) VALUES (2, 1)
INSERT [dbo].[REQUISITOS] ([id_materia], [id_requisito]) VALUES (3, 1)
INSERT [dbo].[REQUISITOS] ([id_materia], [id_requisito]) VALUES (4, 1)
GO
SET IDENTITY_INSERT [dbo].[ROLES] ON 

INSERT [dbo].[ROLES] ([id_rol], [nombre_rol]) VALUES (1, N'Administrador')
INSERT [dbo].[ROLES] ([id_rol], [nombre_rol]) VALUES (2, N'Profesor')
INSERT [dbo].[ROLES] ([id_rol], [nombre_rol]) VALUES (3, N'Estudiante')
SET IDENTITY_INSERT [dbo].[ROLES] OFF
GO
INSERT [dbo].[USUARIO_ROL] ([id_usuario], [id_rol]) VALUES (1, 1)
INSERT [dbo].[USUARIO_ROL] ([id_usuario], [id_rol]) VALUES (2, 2)
INSERT [dbo].[USUARIO_ROL] ([id_usuario], [id_rol]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[USUARIOS] ON 

INSERT [dbo].[USUARIOS] ([id_usuario], [nombre], [email], [contrasena], [estado], [fecha_creacion]) VALUES (1, N'Juan Pérez', N'juan.perez@example.com', N'123456', 1, CAST(N'2025-08-12T20:44:35.787' AS DateTime))
INSERT [dbo].[USUARIOS] ([id_usuario], [nombre], [email], [contrasena], [estado], [fecha_creacion]) VALUES (2, N'María Gómez', N'maria.gomez@example.com', N'12345', 1, CAST(N'2025-08-12T20:44:35.787' AS DateTime))
INSERT [dbo].[USUARIOS] ([id_usuario], [nombre], [email], [contrasena], [estado], [fecha_creacion]) VALUES (3, N'Carlos Ramírez', N'carlos.ramirez@example.com', N'1234', 1, CAST(N'2025-08-12T20:44:35.787' AS DateTime))
SET IDENTITY_INSERT [dbo].[USUARIOS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ESTUDIAN__4CDEAA6E4C218C38]    Script Date: 8/19/2025 7:27:39 PM ******/
ALTER TABLE [dbo].[ESTUDIANTES] ADD UNIQUE NONCLUSTERED 
(
	[carnet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ESTUDIAN__4E3E04AC3FADBBD3]    Script Date: 8/19/2025 7:27:39 PM ******/
ALTER TABLE [dbo].[ESTUDIANTES] ADD UNIQUE NONCLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MATERIAS__40F9A206499DBA4C]    Script Date: 8/19/2025 7:27:39 PM ******/
ALTER TABLE [dbo].[MATERIAS] ADD UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PROFESOR__415B7BE55B1451C3]    Script Date: 8/19/2025 7:27:39 PM ******/
ALTER TABLE [dbo].[PROFESORES] ADD UNIQUE NONCLUSTERED 
(
	[cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PROFESOR__4E3E04AC98BA02B8]    Script Date: 8/19/2025 7:27:39 PM ******/
ALTER TABLE [dbo].[PROFESORES] ADD UNIQUE NONCLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIOS__AB6E616420D8558D]    Script Date: 8/19/2025 7:27:39 PM ******/
ALTER TABLE [dbo].[USUARIOS] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ASISTENCIA] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[BITACORA] ADD  DEFAULT (getdate()) FOR [fecha_hora]
GO
ALTER TABLE [dbo].[DETALLE_MATRICULA] ADD  DEFAULT ((0)) FOR [nota]
GO
ALTER TABLE [dbo].[DETALLE_MATRICULA] ADD  DEFAULT ('Cursando') FOR [condicion]
GO
ALTER TABLE [dbo].[MATRICULAS] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[PAGOS] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[PAGOS] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[ASISTENCIA]  WITH CHECK ADD FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[ESTUDIANTES] ([id_estudiante])
GO
ALTER TABLE [dbo].[ASISTENCIA]  WITH CHECK ADD FOREIGN KEY([id_grupo])
REFERENCES [dbo].[GRUPOS] ([id_grupo])
GO
ALTER TABLE [dbo].[ASISTENCIA]  WITH CHECK ADD FOREIGN KEY([id_profesor])
REFERENCES [dbo].[PROFESORES] ([id_profesor])
GO
ALTER TABLE [dbo].[BITACORA]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIOS] ([id_usuario])
GO
ALTER TABLE [dbo].[CITA_MATRICULA]  WITH CHECK ADD FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[ESTUDIANTES] ([id_estudiante])
GO
ALTER TABLE [dbo].[CITA_MATRICULA]  WITH CHECK ADD FOREIGN KEY([id_periodo])
REFERENCES [dbo].[PERIODO_LECTIVO] ([id_periodo])
GO
ALTER TABLE [dbo].[CORREQUISITOS]  WITH CHECK ADD FOREIGN KEY([id_correquisito])
REFERENCES [dbo].[MATERIAS] ([id_materia])
GO
ALTER TABLE [dbo].[CORREQUISITOS]  WITH CHECK ADD FOREIGN KEY([id_materia])
REFERENCES [dbo].[MATERIAS] ([id_materia])
GO
ALTER TABLE [dbo].[DETALLE_MATRICULA]  WITH CHECK ADD FOREIGN KEY([id_grupo])
REFERENCES [dbo].[GRUPOS] ([id_grupo])
GO
ALTER TABLE [dbo].[DETALLE_MATRICULA]  WITH CHECK ADD FOREIGN KEY([id_matricula])
REFERENCES [dbo].[MATRICULAS] ([id_matricula])
GO
ALTER TABLE [dbo].[DETALLE_PAGO]  WITH CHECK ADD FOREIGN KEY([id_matricula])
REFERENCES [dbo].[MATRICULAS] ([id_matricula])
GO
ALTER TABLE [dbo].[DETALLE_PAGO]  WITH CHECK ADD FOREIGN KEY([id_pago])
REFERENCES [dbo].[PAGOS] ([id_pago])
GO
ALTER TABLE [dbo].[ESTUDIANTES]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIOS] ([id_usuario])
GO
ALTER TABLE [dbo].[GRUPOS]  WITH CHECK ADD FOREIGN KEY([id_materia])
REFERENCES [dbo].[MATERIAS] ([id_materia])
GO
ALTER TABLE [dbo].[GRUPOS]  WITH CHECK ADD FOREIGN KEY([id_profesor])
REFERENCES [dbo].[PROFESORES] ([id_profesor])
GO
ALTER TABLE [dbo].[HORARIOS]  WITH CHECK ADD FOREIGN KEY([id_grupo])
REFERENCES [dbo].[GRUPOS] ([id_grupo])
GO
ALTER TABLE [dbo].[MATERIAS]  WITH CHECK ADD FOREIGN KEY([id_plan])
REFERENCES [dbo].[PLAN_ESTUDIO] ([id_plan])
GO
ALTER TABLE [dbo].[MATRICULAS]  WITH CHECK ADD FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[ESTUDIANTES] ([id_estudiante])
GO
ALTER TABLE [dbo].[MATRICULAS]  WITH CHECK ADD FOREIGN KEY([id_periodo])
REFERENCES [dbo].[PERIODO_LECTIVO] ([id_periodo])
GO
ALTER TABLE [dbo].[PAGOS]  WITH CHECK ADD FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[ESTUDIANTES] ([id_estudiante])
GO
ALTER TABLE [dbo].[PLAN_ESTUDIO]  WITH CHECK ADD FOREIGN KEY([id_carrera])
REFERENCES [dbo].[CARRERAS] ([id_carrera])
GO
ALTER TABLE [dbo].[PROFESORES]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIOS] ([id_usuario])
GO
ALTER TABLE [dbo].[REQUISITOS]  WITH CHECK ADD FOREIGN KEY([id_materia])
REFERENCES [dbo].[MATERIAS] ([id_materia])
GO
ALTER TABLE [dbo].[REQUISITOS]  WITH CHECK ADD FOREIGN KEY([id_requisito])
REFERENCES [dbo].[MATERIAS] ([id_materia])
GO
ALTER TABLE [dbo].[USUARIO_ROL]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[ROLES] ([id_rol])
GO
ALTER TABLE [dbo].[USUARIO_ROL]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIOS] ([id_usuario])
GO
USE [master]
GO
