@page
@model SistemaEducativo.Frontend.Pages.frontend.profesor.ListasModel
@{
    Layout = "_LayoutProfesor";
    ViewData["Title"] = "Lista de Estudiantes";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Lista de Estudiantes</h2>

    <div class="card shadow-lg p-4">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Carné</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.estudiantes != null && Model.estudiantes.Any())
                {
                    foreach (var estudiante in Model.estudiantes)
                    {
                        <tr>
                            <td>@estudiante.Carnet</td>
                            <td>@(estudiante.Usuario.nombre)</td>
                            <td>@(estudiante.Usuario?.email ?? "Sin email")</td>
                            <td>@estudiante.Telefono</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="2">No hay datos disponibles</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>